//
// IMPORT
//

@import
  "../../bower_components/breakpoint-sass/stylesheets/_breakpoint.scss",
  "../../stylesheets/_breakpoint-slicer.scss";

//
// DEBUG
//

$slicer-breakpoints: (
  s : 10px, // Small
  m : 20px, // Medium
  l  : 30px, // Large
);

#between {
  @include between(s, m){
    content: 'expect between(s, m) @media (min-width: 10px) and (max-width: 19px) ';
  }

  @include between(m, l){
    content: 'expect between(m, l) @media (min-width: 20px) and (max-width: 29px) ';
  }

  @include between(s, l){
    content: 'expect between(s, l) @media (min-width: 10px) and (max-width: 29px) ';
  }

  // between test wrong mesure
  @include between(m, s){
    content: 'error between(m, s)';
  }

}


#from {
  @include from(s){
    content: 'expect from(s) @media (min-width: 10px)';
  }

  @include from(m){
    content: 'expect from(m) @media (min-width: 20px)';
  }

  @include from(l){
    content: 'expect from(l) @media (min-width: 30px)';
  }
}

#at {
  @include at(s){
    content: 'expect at(s) @media (min-width: 10px) and (max-width: 19px) ';
  }

  @include at(m){
    content: 'expect at(m) @media (min-width: 20px) and (max-width: 29px) ';
  }

  @include at(l){
    content: 'expect at(l) @media (min-width: 30px)';
  }
}

#below {
  @include below(s){
    content: 'expect below(s) @media (max-width: 10px)';
  }

  @include below(m){
    content: 'expect below(m) @media (max-width: 20px)';
  }

  @include below(l){
    content: 'expect below(l) @media (max-width: 30px)';
  }
}
